.police-logo{
    background-color:#808000;
}
.app__center221{
    text-transform: uppercase;
    padding: 1px 1px ;
    text-align: center;
    color:#800000;
    font-style: italic;
    font-size:medium;
    border-radius: initial;
  }
  

