.auto-mobile{
    background-color:#87CEFA;
}
.app__center1{
    text-transform: uppercase;
    padding: 1px 1px ;
    text-align: center;
    color:#800000;
    font-style: italic;
    font-size:small;
  }
